@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    padding: 0;
}

.name {
    padding: 20px 
}

input {
    background-color:white;
    height: calc(400px/var(--countRows));
    width: calc(400px/var(--countRows));
    font-size: 65px;
    flex: 0 1 auto;
    margin: 2px;
    color: black;
    border: 0 black 2px;
    padding: 0;
    vertical-align: top;
}
 
.field {
    width: calc(400px + (var(--countRows)*4px));
    height: calc(400px + (var(--countRows)*4px));
    margin: 0 auto;
    padding: 0px;
    position: relative;
}

